body {
    margin: 0;
}

* {
    font-family: Calibri, Arial, sans-serif;
}

a {
    color: $black-color;
    &:hover {
        text-decoration: none;
    }
}

@mixin page-section {
    display: block;
    margin: $spacing-3 auto;
}

h1,h2,h3,h4,h5,h6,p {
    @include page-section;
}

img {
    @include page-section;
    max-width: 100%;
}

table {
    @include page-section;
}

blockquote {
    @include page-section;
    margin-left: $spacing-3;
}