body {
    margin: 0;
}

* {
    font-family: $font-family;
}

a {
    color: inherit;
    &:hover {
        text-decoration: none;
    }
}

@mixin page-section {
    display: block;
    margin: $spacing-3 auto;
}

h1,h2,h3,h4,h5,h6,p {
    @include page-section;
}

img {
    @include page-section;
    max-width: 100%;
}

// Wraps an element with a horizontal scroll bar
.horizontal-scroll {
    @include page-section;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

// Table Design
table {
    border-collapse: collapse;
    table-layout: fixed;
    margin: 0pt;
    width: 100%;
    th,td {
        margin: 0pt;
        padding: $spacing-2;
        overflow: hidden;
        text-align: center;
        border-bottom: 1px solid $black-color;
    }
    tr:last-child {
        td {
            border-bottom: none;
        }
    }
}

blockquote {
    @include page-section;
    margin-left: $spacing-3;
    font-size: $medium-font-size;
}