body {
    margin: 0;
}

* {
    font-family: Calibri, Arial, sans-serif;
}

a {
    color: $black-color;
    &:hover {
        text-decoration: none;
    }
}

img {
    max-width: 100%;
}

pre {
    overflow-x: auto;
}