.show-on-mobile {
    visibility: hidden;
}

.button {
    // Link decorating
    text-decoration: none;
    color: $black-color;

    // Button decorating
    border: none;
    border-radius: 4pt;

    // Button styling
    background: $light-gray-color;
    padding: $spacing-1 $spacing-2;
}

.icon-button {
    background: none;
    border: none;
    font-size: $icon-font-size;
}

.main-container {
    margin: $spacing-3;
}

.page-header {
    display: flex;
}

.page-info {
    flex: 1;
    margin: $spacing-3 0pt;
}

.page-title {
    margin: 0pt;
}

.page-subtitle {
    margin: 0pt;
}

.snip {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto;
}

.snip-container {
    margin: $spacing-1;
}

.snip-header {
    display: flex;
    flex-direction: column;
}

.snip-title, .snip-subtitle {
    margin: 0pt;
}

.snip-actions {
    display: flex;
    flex-direction: row-reverse;

    .button {
        flex: 1;
        text-align: center;
    }
}