$spacing-unit: 16pt;
$spacing-1: $spacing-unit / 4;
$spacing-2: $spacing-unit / 2;
$spacing-3: $spacing-unit;

$white-color: white;
$light-gray-color: #ccc;
$dark-gray-color: #555;
$black-color: black;

$mega-font-size: 28pt;
$large-font-size: 20pt;
$medium-font-size: 16pt;
$normal-font-size: 12pt;

$icon-font-size: 28pt;