<div class="menu">
    <div class="menu-container">
        <div class="menu-header">
            <button class="icon-button" id="close-menu">
                <span class="fas fa-chevron-left"></span>
            </button>
            <a class="menu-title" href="/">{{ site.title }}</a>
        </div>
        <ul class="menu-links">
            <li><a href="#">Link A</a></li>
            <li><a href="#">Link B</a></li>
            <li><a href="#">Link C</a></li>
        </ul>
        <footer class="footer">
            <div class="social-bar">
                <a class="social-link" href="#">
                    <span class="fab fa-facebook"></span>
                </a>
                <a class="social-link" href="#">
                    <span class="fab fa-twitter"></span>
                </a>
                <a class="social-link" href="#">
                    <span class="fab fa-instagram"></span>
                </a>
                <a class="social-link" href="#">
                    <span class="fab fa-youtube"></span>
                </a>
                <a class="social-link" href="#">
                    <span class="fab fa-linkedin"></span>
                </a>
                <a class="social-link" href="#">
                    <span class="fas fa-envelope"></span>
                </a>
            </div>
            <p class="site-bio">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Commodi 
                debitis aliquid ipsa quos magni architecto illum nostrum placeat 
                eveniet, eius dolorum blanditiis repudiandae. 
                Perspiciatis sapiente nostrum numquam tenetur! 
                Numquam, consequuntur.
            </p>
            <p class="copyright">Copyright &copy; Anshul Kharbanda 2020</p>
        </footer>
    </div>
</div>