<div class="social-bar">
    {%- include social-link.html
        icon="fab fa-facebook"
        prefix="http://www.facebook.com/"
        handle=site.social.facebook -%}

    {%- include social-link.html
        icon="fab fa-twitter"
        prefix="http://www.twitter.com/"
        handle=site.social.twitter -%}

    {%- include social-link.html
        icon="fab fa-instagram"
        prefix="http://www.instagram.com/"
        handle=site.social.instagram -%}

    {%- include social-link.html
        icon="fab fa-youtube"
        prefix="http://www.youtube.com/"
        handle=site.social.youtube -%}

    {%- include social-link.html
        icon="fab fa-linkedin"
        prefix="http://www.linkedin.com/in/"
        handle=site.social.linkedin -%}

    {%- include social-link.html
        icon="fab fa-github"
        prefix="http://www.github.com/"
        handle=site.social.github -%}

    {%- include social-link.html
        icon="fas fa-envelope"
        prefix="mailto://"
        handle=site.social.email -%}
</div>