body {
    margin: 0;
    font-family: $font-family;

    @include with-theme {
        background-color: color-for(bg);
        color: color-for(text);
    }
}

a {
    &:hover {
        text-decoration: none;
    }

    @include with-theme {
        color: color-for(hl);
    }
}

h1,h2,h3,h4,h5,h6,p {
    @include page-section;
}

img {
    @include page-section;
    max-width: 100%;
}

// Wraps an element with a horizontal scroll bar
.horizontal-scroll {
    @include page-section;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

// Table Design
table {
    border-collapse: collapse;
    table-layout: fixed;
    margin: 0pt;
    min-width: 100%;
    overflow: hidden;
    th {
        @include with-theme {
            color: color-for(hl);
        }
    }
    th,td {
        margin: 0pt;
        padding: $spacing-2;
        overflow: hidden;
        border-bottom: 1px solid;
        white-space: nowrap;
        text-align: center;
        @include with-theme {
            border-color: color-for(hl);
        }
    }
    tr:last-child {
        td {
            border-bottom: none;
        }
    }
}

blockquote {
    @include page-section;
    margin-left: $spacing-3;
    font-size: $medium-font-size;
    @include with-theme {
        color: color-for(hl);
    }
}