@include on-desktop {
    .show-on-mobile {
        display: none !important;
    }
}

.button-group {
    // Spacing
    margin: $spacing-3 0pt;

    // Flexbox
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    @include on-desktop {
        justify-content: flex-start;
    }

    // Buttons in Group
    .button {
        flex: 1;
        @include on-desktop {
            flex: 0 auto;
        }
    }
}

.button {
    // Spacing
    margin: 0pt $spacing-1;
    padding: $spacing-2 $spacing-3;
    
    // Text
    text-align: center;
    text-decoration: none;
    
    // Shape
    border: none;
    border-radius: 4pt;
    
    // Color
    @include with-theme {
        background-color: color-for(primary);
        color: color-for(text-on-primary);
    }
}

.icon-button {
    // Spacing and sizing
    margin: $spacing-1;
    padding: $spacing-2;
    font-size: $icon-font-size;
    
    // Align with center
    display: flex;
    align-items: center;
    justify-content: center;

    // Styling 
    background: none;
    border: none;
    @include with-theme {
        color: color-for(primary)
    }
}