.footer {
    font-size: $small-font-size;
    text-align: center;
}

.site-description {
    text-align: justify;
}

.copyright {
    font-style: italic;
}

.social-link {
    // Sizing and spacing
    margin: $spacing-1;

    // Sizing is scaled by font
    $font-size: $medium-font-size;

    // Manually set width and height
    width: $font-size + 2*$spacing-1;
    height: $font-size + 2*$spacing-1;
    border-radius: $font-size;

    // Center icon
    display: inline-grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    place-items: center;

    // Style icon
    font-size: $font-size;
    text-decoration: none;
    color: inherit !important;
}