.homepage-layout {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    gap: $spacing-3;
}

.snip {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: auto;
}

.snip-container {
    margin: $spacing-1;
}

.snip-header {
    display: flex;
    flex-direction: column;
}

.snip-title, .snip-subtitle {
    margin: 0pt;
}
.snip-subtitle {
    font-weight: normal;
}