.scroll-lock {
    overflow: hidden;
}

.main-container {
    margin: $spacing-3;
    @include on-desktop {
        position: absolute;
        left: $desktop-menu-width;
        right: 0%;
        margin: 0pt $spacing-3;
    }
}

.menu-window {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;

    @include on-desktop {
        display: block;
        width: $desktop-menu-width;
    }
}

.menu {
    position: absolute;
    height: 100%;
    width: 100%;
    left: -100%;
    @include on-desktop {
        left: 0%;
    }

    display: grid;
    grid-template-rows: auto;
    grid-auto-columns: auto;

    // Coloring
    @include with-theme {
        background-color: color-for(hl-area);
        color: color-for(text);
    }
}

.menu-container {
    margin: $spacing-3;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr;
}

.menu-header {
    display: flex;
    flex-direction: row;
    align-items: center;

    @include with-theme {
        color: color-for(primary);
    }

    .menu-header-left {
        flex: 0 1 auto;
        display: flex;
        align-items: center;
    }

    .menu-header-right {
        flex: 1;
        text-align: right;
    }
}

.menu-title {
    font-size: $mega-font-size;
    font-weight: bold;
    text-decoration: none;
    color: inherit !important;
    &:hover {
        text-decoration: underline;
    }
}

.menu-links {
    list-style-type: none;
    padding: 0pt;
    text-align: right;
    & > li {
        margin: $spacing-2 0pt;
        > a {
            color: inherit !important;
            text-decoration: none;
            font-size: $large-font-size;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}