.scroll-lock {
    overflow: hidden;
}

.main-container {
    padding: 0pt $spacing-3;
}

.menu {
    padding: $spacing-3 $spacing-3;
    margin-bottom: $spacing-2;
}

.menu-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    @include on-mobile {
        display: block;
    }
}

.menu-header {
    flex-grow: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.menu-title {
    flex: 1;
    margin: 0pt $spacing-2;
    font-size: $large-font-size;
    font-weight: bold;
    text-decoration: none;
    color: inherit !important;
    &:hover {
        text-decoration: underline;
    }
}

.menu-dropdown {
    flex: 1;
    display: flex;
    flex-direction: row;
    @include on-mobile {
        display: block;
    }
}

.menu-links {
    // Spacing and alignment
    margin: 0pt;
    padding: 0pt;
    list-style-type: none;

    // Align
    flex: 1;
    display: flex;
    align-items: center;
    @include on-mobile {
        display: block;
    }

    // List element styling
    & > li {
        // Spacing
        margin: 0pt $spacing-2;
        @include on-mobile {
            margin: $spacing-2;
        }

        > a {
            color: inherit !important;
            text-decoration: none;
            font-size: $medium-font-size;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.menu-controls {
    // Align
    display: flex;
    align-items: center;
    @include on-mobile {
        display: block;
    }

    .icon-button {
        font-size: $medium-font-size;
    }
}