.content-gutters {
    margin: 0pt;
    @include on-desktop {
        margin: 0pt 10%;
    }
}

.index-grid {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    gap: $spacing-3;

    @include on-desktop {
        grid-template-rows: auto;
        grid-template-columns: repeat(3, 1fr);
    }
}

.snip {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: auto;
}

.snip-container {
    margin: $spacing-1;
}

.snip-header {
    display: flex;
    flex-direction: column;
}

.snip-title, .snip-subtitle {
    margin: 0pt;
}
.snip-subtitle {
    font-weight: normal;
}