// Theming code courtesy of Katie McTigue
// Link to blog post: https://medium.com/@katiemctigue/how-to-create-a-dark-mode-in-sass-609f131a3995

// All colors allowed
$white-color: white !default;
$light-gray-color: #ececec !default;
$dark-gray-color: #242424 !default;
$black-color: black !default;
$primary-color: #0077ff !default;
$primary-color-dark: #0099ff !default;

// Themes
$themes : (
    
    // Lightmode theme
    lightmode: (
        bg: $white-color,
        text: $black-color,
        hl-area: $light-gray-color,
        hl: $dark-gray-color,
        primary: $primary-color,
        text-on-primary: $white-color
    ),

    // Darkmode theme
    darkmode: (
        bg: $black-color,
        text: $white-color,
        hl-area: $dark-gray-color,
        hl: $light-gray-color,
        primary: $primary-color-dark,
        text-on-primary: $black-color
    )
    
);
$default: "lightmode";