// Fonts
$font-family: (-apple-system, 
    BlinkMacSystemFont, 
    'Segoe UI', Helvetica, 
    Arial, sans-serif, 
    'Apple Color Emoji', 
    'Segoe UI Emoji', 
    'Segoe UI Symbol');
$code-font-family: (
    "Consolas", 
    monospace) !default;

// Spacing unit
$spacing-unit: 16pt !default;
$spacing-1: $spacing-unit / 4;
$spacing-2: $spacing-unit / 2;
$spacing-3: $spacing-unit;
$spacing-4: $spacing-unit * 2;
$content-gutters-width: 10%;

// Font sizes
$icon-font-size: 24pt !default;
$mega-font-size: 30pt !default;
$large-font-size: 20pt !default;
$medium-font-size: 16pt !default;
$normal-font-size: 12pt !default;
$small-font-size: 8pt !default;

// Breakpoints
$breakpoint-mobile: 800px !default;
$breakpoint-tablet: 1200px !default;
$desktop-menu-width: 350px !default;