// Fonts
$font-family: "Calibri", "Arial", sans-serif !default;
$code-font-family: "Consolas", monospace !default;

// Spacing unit
$spacing-unit: 16pt !default;
$spacing-1: $spacing-unit / 4;
$spacing-2: $spacing-unit / 2;
$spacing-3: $spacing-unit;

// Coloring
$white-color: white !default;
$black-color: black !default;
$light-gray-color: darken($white-color, 15%) !default;
$dark-gray-color: lighten($black-color, 15%) !default;
$primary-color: #07294D !default;
$secondary-color: #FFC600 !default;
$light-primary-color: lighten($primary-color, 70%) !default;
$dark-secondary-color: darken($secondary-color, 15%) !default;

// Font sizes
$icon-font-size: 24pt !default;
$mega-font-size: 38pt !default;
$large-font-size: 20pt !default;
$medium-font-size: 16pt !default;
$normal-font-size: 12pt !default;
$small-font-size: 8pt !default;